@media(max-width:474px){
    .respB{
        display: flex;
        flex-wrap: wrap;
    }
    .respP{
        font-size: 1.5rem;
    }
    .resph{
        font-size: 2rem;

    }
    .respCon{
        margin-top: 56px;
    }
}

@media (max-width:619px) {
    .respAbt{
        display: flex;
        flex-direction: column;
    }
}

.hecss{
    /* margin-left: auto; */
    min-width: 460px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}
