.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}

.about_img{
    width: 100%;
    border-radius: 10px;
}

.about h3{
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;
}

.about h2{
    font-size: 35px;
    color: #000F38;
    margin: 10px;
    max-width: 400px;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
}
