.navbar {
    width: 100%;
    color: #fff;
    /* position: absolute; */
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    /* margin-bottom: 1500px; */
}
.ham{

}

.logocontainer {
    display: flex;
    align-items: center;
    margin-top: -25px;
}
.navbtn{
    margin-top: -12px;
}
.logo{
    width: 60px;
}


.logo {
    width: 60px;
    margin-left: -50px;
    padding-bottom: 10px;
}

.iclogo {
    margin-left: 10px;
    width: 75px;
    padding-bottom: 20px;
}

.chcss {
    width: 80px;
}

.chcsss {
    width: 80px;
    margin-left: 5px;
    margin-top: 18px;
}

.iadclogo {
    width: 100px;
    margin-left: 10px;
    margin-top: 12px;
    background: white;
    border-radius: 2px;
}

.iadclogowt {
    width: 130px;
    margin-left: 10px;

    background: white;
    padding: 5px;
}

.iclogoceleb {
    width: 60px;
    padding-bottom: 10px;
}

.spelogo {
    width: 110px;
    padding-top: 20px;
    margin-left: -10px;
}  

.downcss {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.downcss:hover {
    background-color: #f0f0f0;
    border-radius: 30px;
    color: #007bff;
}

.downcss svg {
    font-size: 1rem;
    vertical-align: middle;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading li {
    display: inline-block;
    margin: 5px 3px;
    font-size: 16px;
    padding: 1rem;
}

.containers {
    padding-left: 5%;
    padding-right: 4%;
}

.btn {
    background: #eae2e2;
    color: rgb(27, 131, 211);
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 10px;
    width: 129px;
    text-align: center;
    text-decoration: none;
}

.btnactivecolnav {
    background-color: rgb(7, 106, 181);
    border-radius: 30px;
    font-size: medium;
    padding: 8px 15px;
    margin: 10px;
    color: #e1dddd;
    width: 129px;
    text-align: center;
    text-decoration: none;
}

.navcoloractive {
    background-color: #e1dddd;
    color: black;
    /* transition: 1s; */
    position: fixed;
    top: 0;
    left: 0;
}

.red {
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform: uppercase;
}

.menu-icon {
    display: none;
    font-size: 1.7em;
    cursor: pointer;
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: rgb(20 122 201);
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.navbtn {
    justify-content: center;
    width: 100%;
}


@media(min-width:614px) {
    .navbar {
        flex-direction: column;
        /* height: 150px; */
    }

    .navbtn {
        display: flex;

    }

    .heading {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }

    .logo {
        width: 80px;
        padding-bottom: 10px;
    }

    .logocontainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 10px;
    }

    .iclogo,
    .chcss,
    .chcsss,
    .iadclogo,
    .iclogoceleb {
        margin-left: 10px;
        width: auto;
        width: 100px;
    }

    .iclogoceleb {
        margin-left: 10px;
        padding-bottom: 10px;
        width: 90px;
    }

    .iadclogo {
        background-color: black;
        height: 50px;
        padding: 5px;
        width: 200px;
    }

    .iadclogowt {
        background-color: #f0f0f0;
        height: 50px;
        padding: 5px;
        width: 200px;
    }
    .iadclogo{
        margin-bottom: 30px;
    }
    .logo {
  
        width: 100px;
    }

    .spelogo {
        width: 170px;
        height: 170px;
        padding-top: 25px;
    }

    .iclogo {
        padding-bottom: 30px;
    }

    .heading{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:-50px ;
    }
    .respnav{
        width: 100%;
       display: flex;
       /* margin-top: 100px; */
       color: black;
       border-radius: 5vw;
       margin-top: 10px;
       /* margin-bottom: 10px; */
       justify-content: space-between;
       background-color: white;
       padding-right: 10px;
    }
}

@media (min-width: 1725px) {
    .navbar {
        padding: 20px 50px;
        justify-content: space-between;
    }
    .navcoloractive {
        /* height: 500px; */
        align-items: flex-end;
    }
    
    .logo {
        width: 120px;
        margin-bottom: 80px;
    }
    .iclogo{
        margin-bottom: 100px;
    }

    .iclogoceleb {
        width: 150px;
        padding-bottom: 20px;
    }
    .chcss{
        margin-bottom: 100px;
    }

    .spelogo {
        width: 250px;
        height: 300px;
        padding-top: 35px;
    }
   
    .iadclogowt{
        width: 350px;
        height: 100px;
    }
    .iadclogo{
        width: 350px;
        height: 100px;
    }

    .heading li {
        font-size: 22px;
        padding: 1.2rem;
    }

}


@media (max-width: 1229px) {
    .heading {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 65px;
        right: 0;
        background-color: #18254e;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
    }

    .heading.mobile-menu-open {
        display: flex;
        height: 60vh;
        margin-top:18vh;
        font-size: large;
    }
    .respnav {
        flex-direction: column;
        height: 70vh;
    }

    .logo {
        margin: 0;
        padding: 6px;
    }

    nav {
        padding: 4px 20px;
    }

    .heading li {
        margin: 10px 0;
        padding: 10px;
    }

    .btn,
    .btnactivecolnav {
        margin: 20px 0;
        padding: 10px;
        width: 51%;
        text-align: center;
    }

    .navcoloractive {
        color: white;
    }

    .menu-icon {
        color: rgb(10, 48, 152);
        display: block;
        margin-right: 20px;
        font-size: 2rem;
        cursor: pointer;
    }

    .white-icon {
        color: rgb(255, 255, 255);
        margin-right: 20px;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .respnav {
        flex-direction: column;
    }
}

@media (min-width: 3450px) {

    .logo,
    .iclogo,
    .chcss,
    .chcsss {
        width: 164px;
        margin-top: 96px;
        margin-left: 20px;
    }

    .heading li {
        font-size: 37px;
        padding: 1.5rem;
    }

    .btn,
    .btnactivecolnav {
        padding: 18px 30px;
        font-size: 25px;
        width: 198px;
    }

    .menu-icon,
    .white-icon {
        font-size: 3rem;
    }

    .navcoloractive {
        height: 500px;
        align-items: flex-end;
    }

    .logo {
        width: 170px;
    }


}