nav {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 75px;
}

.logo{
    width: 70px;
    margin-left: 10px;
}

nav ul li{
    /* font-weight: bold; */
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
    padding: 25px;
    
}

/* .heading{
    font-size: 250px;
} */
.btn{
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;

}
.coloractive{
    background-color: #e1dddd;
    color: black;
}

.red{
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform:uppercase;
;
}