nav {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 65px;
}

.logo{
    width: 60px;
    margin-left: 10px;
}

nav ul li{
    /* font-weight: bold; */
    display: inline-block;
    list-style: none;
    margin: 5px 25px;
    font-size: 18px;
    padding: 30px;
}

/* .heading{
    font-size: 250px;
} */
.btn{
    background: #eae2e2;
    color: rgb(27, 131, 211);
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 40px;
}
.navcoloractive{
    background-color: #e1dddd;
    color: black;
    transition: 1s;
}

.red{
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform:uppercase;
}

.btnactivecolnav{
    background-color:rgb(7, 106, 181);
    border-radius: 30px;
    padding: 10px 25px;
    margin: 40px;
    color:#e1dddd;
}

.homecss{
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform:uppercase;
}
.homecss{
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform:uppercase;
}