.navbar {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 100px;
    transition: background-color 0.3s;
}

.logo {
    width: 60px;
    margin-left: -50px;
}

.iclogo {
    margin-left: 10px;
    width: 60px;
}

.chcss {
    width: 60px;
    margin-left: 10px;
    margin-top: 16px;
}

.chcsss {
    width: 70px;
    margin-left: 5px;
    margin-top: 18px;
}

.downcss {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.downcss:hover {
    background-color: #f0f0f0;
    border-radius: 30px;
    color: #007bff;
}

.downcss svg {
    font-size: 1rem;
    vertical-align: middle;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading li {
    display: inline-block;
    margin: 5px 3px;
    font-size: 18px;
    padding: 1rem;
}

.containers {
    padding-left: 5%;
    padding-right: 4%;
}

.btn {
    background: #eae2e2;
    color: rgb(27, 131, 211);
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 10px;
    width: 129px;
    text-align: center;
    text-decoration: none;
}

.btnactivecolnav {
    background-color: rgb(7, 106, 181);
    border-radius: 30px;
    font-size: medium;
    padding: 8px 15px;
    margin: 10px;
    color: #e1dddd;
    width: 129px;
    text-align: center;
    text-decoration: none;
}

.navcoloractive {
    background-color: #e1dddd;
    color: black;
    transition: 1s;
    position: fixed;
    top: 0;
    left: 0;
}

.red {
    color: rgb(27, 131, 211);
    font-weight: bolder;
    text-transform: uppercase;
}

.menu-icon {
    display: none;
    font-size: 1.7em;
    cursor: pointer;
}

@media (max-width: 1229px) {
    .heading {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 65px;
        right: 0;
        background-color: #18254e;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
    }

    .heading.mobile-menu-open {
        display: flex;
    }

    .logo {
        margin: 0;
        padding: 6px;
    }

    nav {
        padding: 4px 20px;
    }

    .heading li {
        margin: 10px 0;
        padding: 10px;
    }

    .btn, .btnactivecolnav {
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .navcoloractive {
        color: white;
    }

    .menu-icon {
        color: rgb(10, 48, 152);
        display: block;
        margin-right: 20px;
        font-size: 2rem;
        cursor: pointer;
    }

    .white-icon {
        color: rgb(255, 255, 255);
        margin-right: 20px;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .respnav {
        flex-direction: column;
    }
}

@media (min-width: 3840px) {
    .logo, .iclogo, .chcss, .chcsss {
        width: 120px; 
        margin-left: 20px;
        margin-top: 54px;
    }

    .heading li {
        font-size: 37px; 
        padding: 1.5rem;
    }

    .btn, .btnactivecolnav {
        padding: 18px 30px;
        font-size: 25px;
        width: 198px;
    }

    .menu-icon, .white-icon {
        font-size: 3rem;
    }
    .navcoloractive{
        height: 164px;
    align-items: flex-end;
    }
    .logo{
        width: 170px;
    }
}
