section{
    /* background: #556ea2; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.reg-h{
    height: 462px;
    /* width: 100vw; */
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    /* margin-top: 130px; */
    text-transform: uppercase;
    /* flex-direction: column; */
    font-weight: bold;
    color: white;
    padding: 40px;
    margin-bottom: 20px;
    
}

.reg-h h1{
    /* top: -190px;
    position: relative; */
    font-weight: bold;
    font-size: 4rem;
  
}
.reg-h p{
    /* top: -190px;
    position: relative; */
    font-weight: bold;
    font-size: 1rem;
   
}

.reg-sub-h{
    /* display: flex;
    justify-content: center; */
    margin: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(9, 9, 9);
}

.reg-p{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.3rem;
}

.reg-container{
    padding: 15px;
    margin: 0 30px;
    margin-top: 22px;
}
.reg-hz-line{
    border: 0.4px solid black;
}
.reg-payment-container{
    /* margin: 0 30px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 12px;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.payment-left{
    /* width: 50%; */
    font-size: 1.3rem;
    padding: 25px;
    /* margin: 0 24px;
    min-width: 460px; */
}
.payment-left p{
    padding: 4px;
}
/* .payment-right img{
    width: 34%;
    margin-left: 180px;
} */
.payment-right {
    /* width: 50%; */
    padding:0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px;
    max-width: 260px; */
}

.wrapper{
  background-image: url("../../images/colton-sturgeon-f7ADPPOG_EQ-unsplash.jpg") ;
  /* opacity: .6; */
  height: 70vh;
  max-height: 527px;
  /* max-width: 1512px; */
  
}
    .respcss{
        /* width: 100%; */
        min-width: 460px;
    }

  .price-h{
    margin: 12px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}
.price-hr{
    width: 375px;
    border: 2px solid rgb(0, 0, 0);
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.price-sub-h{
    background: #59ff98;
    text-align: center;
    color: rgb(41, 39, 39);
    margin: 5px;
    width: 97%;
    display: block;
    margin: auto;
}

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 46px;
    /* width: 100vw; */
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 18px;
    font-size: 1.1rem;
    text-align: center;
    
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008c58;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
/* Notes Section  */
.reg-notes{
    margin: 35px;
}
.reg-notes h2{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 4px;
    /* margin-left: 23px; */
}
.reg-notes-p{
    font-size: 1.3rem;
    padding: 3px;
}
.reg-notes-hr{
    border: 2px solid black;
    width: 140px;
}


  
 

@media(max-width:550px){
    .reg-payment-container{
        flex-wrap: wrap;
    }
    /* .payment-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:22px ;
    } */
    /* .payment-left{
                width: 100%;
                font-size: .9rem;
                min-width: 300px;
    } */
    /* .payment-right img{
        width: 65%;
    } */
    .vl{
        height: 155px;
        top: 135px;
    }
    .price-hr{
        width: auto;
    }
}
@media (max-width: 771px) {
    /* .payment-left{
        width: 100%;
        font-size: .9rem;
        min-width: 300px;
} */
.reg-notes-p{
    font-size: 1rem;
}
#customers{
    width: auto;
}
.reg-p{
    font-size: 1rem;
}
.price-h{
    font-size: 1.5rem;
}

/* .reg-h{
    max-height: 57vh;
} */
    
    .reg-h h1{
        font-size: 2rem;
    }
    .vl{
    height: 155px;
    padding: 5px;
    position: absolute;
    top: 124px;
    left: 19px;
    }


}

@media(max-width:411px){
   .vl{
       top: 145px;
       height: 178px;}
}