section{
    /* background: #556ea2; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.reg-h{
    height: 100vh;
    width: 100vw;
    /* background-color: #4564a8; */
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    font-size: 50px;
    text-transform: uppercase;
}

.reg-h h1{
    top: -190px;
    position: relative;
    font-weight: bold;
}

.reg-sub-h{
    /* display: flex;
    justify-content: center; */
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(9, 9, 9);
}

.reg-p{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.5rem;
}

.reg-container{
    margin-top: 55px;
    padding: 15px;
}
.reg-hz-line{
    border: 0.4px solid black;
}
.reg-payment-container{
margin-top: 20px;
display: flex;
}
.payment-left{
    width: 50%;
    font-size: 1.1rem;
    padding: 25px;
}
.payment-left p{
    padding: 4px;
}
.payment-right img{
    width: 30%;
    margin-left: 40px;
}
.payment-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.photo{
    background-image: url("../../images/oil-rig-2191711_1920.jpg") ;
    opacity: 1.4;
    height: 100vh;
}


/* animation for heading  */
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 0.5s;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #38218f 0%,
    #44107a 29%,
    #690929 67%,
    #4f4d12 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}