.cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align cards horizontally */
  padding: 52px 47px;
  padding-top: 30px;
}

.profile-card {
  position: relative;
  /* width: 280px; Adjust width as needed */
  margin: 60px 20px; /* Adjust margin for spacing between cards */
  padding: 40px 30px 30px;
  background: #ebebeb;
  border: 5px solid rgba(142, 142, 142, 0.7);
  text-align: center;
  border-radius: 4px;
  transition: all 200ms ease;
}

.mask-shadow {
  z-index: -1 !important;
  width: 95%;
  height: 12px;
  background: #898787;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  border-radius: 4px;
  opacity: 0;
  transition: all 400ms ease-in;
}

.profile-card:hover {
  box-shadow: 0px 30px 60px -5px rgba(55, 55, 71, 0.3);
  transform: translate3d(0, -5px, 0);
}

.profile-card:hover .mask-shadow {
  opacity: 1;
  box-shadow: 0px 30px 60px -5px rgba(55, 55, 71, 0.3);
  position: absolute;
}

.profile-card header {
  display: block;
  margin-bottom: 10px;
}

.profile-card header a {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 100%;
  margin: -120px auto 0;
  box-shadow: 0 0 0 5px #82b541;
}

.profile-card header a img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-card header h1 {
  font-size: 20px;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 5px;
  white-space: nowrap; /* Prevent line breaks */
}

.profile-card header h2 {
  font-size: 14px;
  color: #acacac;
  text-transform: uppercase;
  margin: 0;
}

.profile-bio {
  font-size: 14px;
  color: #a5a5a5;
  line-height: 1.7;
  font-style: italic;
  margin-bottom: 30px;
}

@keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 6px #82b541;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 2px #82b541;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 9px #82b541;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 3px #82b541;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #82b541;
    opacity: 1;
  }
}