@tailwind base;
@tailwind components;
@tailwind utilities;



.bgImg{
    background :  linear-gradient(rgb(8,0,58,0.7),rgb(8,0,58,0.7)) ;
    background-size: cover;
    background-position: center;
    color : #fff;
}