@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImg{
    background :  url('/src/images/HeritageBuilding.jpg');
    background-size: cover;
    background-position: center;
    color : #fff;
}