.profimg{
    border-radius: 50%;
    height: 155px;
    width: 155px;
    align-items: center;
    margin-left: 70px;
    border: 3px solid rgb(28, 131, 194);
}
.conres{
 width: 100vw;   
 min-width: 460px;
}

.emailcss:hover{
    color: blue;
    cursor:pointer;
}