.abstract{
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-bottom: 10px;
        margin-bottom: 1rem;
}


    .gradient-border {
        --borderWidth: 3px;
        background: #fefefe;
        position: relative;
        border-radius: var(--borderWidth);
      }
      .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #6580b8, #73d6e6, #7ab307, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
      }
      
      
      @keyframes animatedgradient {
              0% {
                      background-position: 0% 50%;
              }
              50% {
                      background-position: 100% 50%;
              }
              100% {
                      background-position: 0% 50%;
              }
      }
      
      
      
.h-abst{
        background-color: rgb(51, 57, 71);
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

}
.guidelines{
        margin: 0 50px;
        margin-top: 50px;
        gap: 5px;
}
.button-abs{
        margin-left: 40px;
        width: 15rem;
        margin-bottom: 10vh;
        justify-self: center;
}
.down-btn{
        display: flex;
        font-size: 20px;
        margin: 1.2rem 0;

}
.down-span{
        padding: 0 9px;
        font-weight: bold;
        background-color: aqua;
}
.btn-down{
        color: blue;
}
.p-btn{
        background-color: rgb(255, 255, 127);
}